{% extends 'main_page/base.html' %}
{% load static %}





{% block page %}
	<div id="page">

	<nav class="fh5co-nav" role="navigation">
		<div class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="site"></p>
						<p class="num">Номер телефону: (0352)269366</p>
					</div>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<div class="container">

				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'index' %}"><i class="icon-study"></i>ТЗОШ<span>№22</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active"><a href="{% url 'index' %}">Головна</a></li>
							<li><a href="{% url 'teachers:index' %}">Вчителі</a></li>
							{% if user.is_superuser or user.is_staff %}
                     			<li><a href="{% url 'admin:index' %}">Адмін-панель</a></li>
							{% endif %}


							{% if user.is_authenticated %}
								<li><a href="{% url 'users:profile' %}">Профіль</a></li>
								<li class="btn-cta"><a href="{% url 'users:logout' %}"><span>Вийти</span></a></li>

							{% endif %}

							{% if user.is_authenticated == False%}
								<li class="btn-cta"><a href="{% url 'users:login' %}"><span>Вхід</span></a></li>
							{% endif %}





						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav> <!--панель навігації-->


	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(images/img_bg_1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>Сайт ТЗОШ №22, розроблений учнем 10-В класу</h1>
									<h2>Присяжним Арсеном <a href="http://freehtml5.co/" target="_blank"></a></h2>

			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>


		  	</ul>
	  	</div>
	</aside> <!--Початкова картинка/титри-->

	<div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Про заклад</h2>
					<p>Основні дані про навчальний заклад, які можуть знадобитись як батькам, так і учням</p>
				</div>
			</div>
			<div class="row">
				{% for i in main_data %}
					<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<a href="index.html">
						<span class="icon">
							<i class="icon-tick"></i>
						</span>
							</a>
						<div class="desc">
							<h3><a href="index.html">{{i.title}}</a></h3>
							<p>{{i.description}}</p>
						</div>
					</div>
				</div>

				{% endfor %}
			</div>
		</div>
	</div> <!--Основні відомості про школу-->

	<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-world"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="{{ first_element.counting }}" data-speed="{{ first_element.counting_time }}" data-refresh-interval="30"></span>
							<span class="fh5co-counter-label">Всього класів</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-study"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="{{ second_element.counting }}" data-speed="{{ second_element.counting_time }}" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Цьогорічних випускників</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-bulb"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="{{ third_element.counting }}" data-speed="{{ third_element.counting_time }}" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Всього вчителів</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-head"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="{{ fours_element.counting }}" data-speed="{{fours_element.counting_time}}" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Всього учнів</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!--Рахуючі дані-->

	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Наші гуртки</h2>
					<p>На базі школи є кілька безкоштовних гуртків для усіх бажаючих дітей</p>
				</div>
			</div>
			<div class="row">
				{% for i in sections %}
    <div class="col-md-6 animate-box">
        <div class="course">
            <a href="#" class="course-img" style="background-image: url('{{ i.image.url }}');">
            </a>
            <div class="desc">
                <h3><a href="#">{{ i.title }}</a></h3>
                <p>{{ i.description }}</p>
                <span><a href="#" class="btn btn-primary btn-sm btn-course">Детальніше</a></span>
            </div>
        </div>
    </div>
{% endfor %}


			</div>
		</div>
	</div> <!--Дані про гуртки-->



	<div id="fh5co-gallery" class="fh5co-bg-section">
		<div class="row text-center">
			<h2><span>Галерея</span></h2>
		</div>
		<div class="row">
			{% for i in gallery %}
				<div class="col-md-3 col-padded">
					<a href="#" class="gallery" style="background-image: url('{{ i.image.url }}');"></a>
				</div>
			{% endfor %}
		</div>
	</div>
	</div>






{% endblock %}

